@media (max-width: 1400px) {
    .kotak {
        height: 600px;
    }
    h3 {
        font-size: 24px;
        font-weight: bolder;
    }
    p {
        font-size: 16px;
    }
    .logo {
        width: 200px;
        height: 60px;
    }
    .amplop {
        width: 300px;
        height: 150;
    }
    .warn {
        width: 180px;
        height: 160px;
    }
}