.image-25-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1695px;
  height: 1229px;
  object-fit: cover;
}
.image-38-icon1,
.rectangle-div5 {
  position: absolute;
  left: 0;
  width: 1440px;
}
.rectangle-div5 {
  top: -31px;
  background-color: var(--color-gray-700);
  height: 55px;
}
.image-38-icon1 {
  top: 124px;
  height: 93px;
  object-fit: cover;
}
.myticket1 {
  position: absolute;
  top: 148px;
  left: 669px;
  font-size: var(--font-size-4xl);
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.mdicart-minus1 {
  position: absolute;
  top: 57px;
  left: 1028px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.rectangle-div6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1204px;
  height: 820px;
}
.flat-color-iconsexpired1 {
  position: absolute;
  top: 0;
  left: 99px;
  width: 36px;
  height: 36px;
  overflow: hidden;
}
.jadwal-terbang1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.terlewat1 {
  margin: 0;
}
.jadwal-terbang-terlewat1 {
  position: absolute;
  top: 39px;
  left: 0;
  display: inline-block;
  width: 234px;
  height: 31px;
}
.group-a3 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 65px;
  left: 496px;
  width: 234px;
  height: 70px;
  color: inherit;
}
.group-icon7 {
  position: absolute;
  height: 52.17%;
  width: 20.22%;
  top: 0;
  right: 35.39%;
  bottom: 47.83%;
  left: 44.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.jadwal-terbang-akan-datang1 {
  position: absolute;
  top: 38px;
  left: 0;
  display: inline-block;
  width: 178px;
  height: 31px;
}
.group-div8 {
  position: absolute;
  height: 8.41%;
  width: 14.78%;
  top: 8.05%;
  right: 22.84%;
  bottom: 83.54%;
  left: 62.38%;
}
.menunggu-pembayaran1 {
  position: absolute;
  top: 36px;
  left: 0;
  display: inline-block;
  width: 148px;
  height: 48px;
}
.vector-icon7 {
  position: absolute;
  height: 42.86%;
  width: 24.32%;
  top: 0;
  right: 36.49%;
  bottom: 57.14%;
  left: 39.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-a4 {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  top: 68px;
  left: 304px;
  width: 148px;
  height: 84px;
  color: inherit;
}
.line-div7 {
  position: absolute;
  top: 174px;
  left: 776px;
  border-top: 2px solid var(--color-indigo-200);
  box-sizing: border-box;
  width: 146px;
  height: 2px;
}
.group-div7 {
  position: absolute;
  top: 317px;
  left: 118px;
  width: 1204px;
  height: 820px;
  font-size: var(--font-size-xl);
}
.rectangle-div7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 1100px;
  height: 137px;
}
.order-id-2098703 {
  position: absolute;
  top: 27px;
  left: 0;
  display: inline-block;
  width: 136px;
  height: 22px;
}
.bali3,
.jakarta3,
.pulang-pergi-dewasa-0-anak3,
.rab-12-okt-20226 {
  position: absolute;
  top: 71px;
  left: 4px;
  display: inline-block;
  width: 302px;
  height: 22px;
}
.bali3,
.jakarta3,
.rab-12-okt-20226 {
  left: 358px;
  width: 134px;
}
.bali3,
.jakarta3 {
  top: 49px;
  left: 5px;
  color: var(--color-black);
  width: 61px;
}
.bali3 {
  left: 99px;
  width: 30px;
}
.group-icon8 {
  position: absolute;
  height: 11.29%;
  width: 2.21%;
  top: 60.22%;
  right: 86.75%;
  bottom: 28.49%;
  left: 11.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.line-div8 {
  position: absolute;
  top: 74.5px;
  left: 321.5px;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
}
.vector-icon8 {
  position: absolute;
  height: 11.86%;
  width: 2.54%;
  top: 84.58%;
  right: 47.41%;
  bottom: 3.56%;
  left: 50.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rab-12-okt-20227 {
  position: absolute;
  top: 71px;
  left: 545px;
  display: inline-block;
  width: 134px;
  height: 22px;
}
.line-div9 {
  position: absolute;
  top: 74.5px;
  left: 508.5px;
  border-right: 1px solid var(--color-gray-500);
  box-sizing: border-box;
  width: 1px;
  height: 17px;
}
.vector-icon9 {
  position: absolute;
  height: 11.86%;
  width: 2.54%;
  top: 84.58%;
  right: 19.86%;
  bottom: 3.56%;
  left: 77.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-div13,
.group-icon9 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 27px;
  height: 27px;
}
.group-div13 {
  top: 20px;
  left: 13px;
  width: 679px;
  height: 93px;
}
.group-button6 {
  position: absolute;
  top: 102px;
  left: 947px;
}
.group-button7,
.mdishare {
  position: absolute;
  top: 56px;
  left: 810px;
}
.mdishare {
  top: 0;
  left: 1022px;
}
.group-div10,
.group-div9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1100px;
  height: 137px;
}
.group-div9 {
  top: 688px;
  left: 170px;
}
.group-div14,
.mdishare1 {
  position: absolute;
  top: 11px;
  left: 1022px;
}
.group-div14 {
  top: 528px;
  left: 170px;
  width: 1100px;
  height: 137px;
}
.group-button11 {
  position: absolute;
  top: 56px;
  left: 812px;
}
.group-div19,
.mdishare2 {
  position: absolute;
  top: 29px;
  left: 1024px;
}
.group-div19 {
  top: 848px;
  left: 168px;
  width: 1100px;
  height: 137px;
}
.history-pembayaran-akan-data {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 2099px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-gray-500);
  font-family: var(--font-poppins);
}
